/* You can add global styles to this file, and also import other style files */

:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

[data-theme='dark'] {
  --background-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snippet-toaster .toast-message {
  padding: 0.6rem !important;
  .gap-3{
    gap: 0.6rem !important;
  }
}

.auth-wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
}
